body {
  background-color:#f0f0f0;
}

.film-content {
  background-color:white;
  border : 1px solid red;
  width:75%;
  margin:auto;
}

.img-details {
  display: flex;
}

.film-img {
  width:50%;
  height:50%;
}



.film-title {
  text-align: center;
}

.titre {
  font-weight: bold;
}

.acteur {
  font-weight: bold;
}

.synopsis-title {
  text-align: center;
  font-weight: bold;
}

.date-sortie {
  font-weight: bold;
}

.duree {
  font-weight: bold;
}

.genre {
  font-weight: bold;
}

.nationalite {
  font-weight: bold;
}

.realisateur {
  font-weight: bold;
}

.film-details {
  flex-direction: column;
  text-align: center;
}

.film-row {
  padding:2%
}

