<body>
<h1 class="film-title">
  <span class="titre">{{ film['titre'] }}</span>
</h1>

<div class="film-content">
  <div class="img-details">
  <div class="film-img">
    <img  src="{{ film['image'] }}">
  </div>
  <div class="film-details">

    <div class="film-row">
    Avec
    <span class="acteur">{{ film['acteur'] }}</span>
    </div>

    <div class="film-row">
  Sortie le
  <span class="date-sortie">{{ film['dateSortie'] }}</span>
    </div>

    <div class="film-row">
    Durée du film :
  <span class="duree">{{ film['duree'] }}</span>

    </div>

    <div class="film-row">
    Genre :
  <span class="genre">{{ film['genre'] }}</span>
    </div>


    <div class="film-row">
    Nationalité :
  <span class="nationalite">{{ film['nationalite'] }}</span>
    </div>

    <div class="film-row">
    De
  <span class="realisateur">{{ film['realisateur'] }}</span>
    </div>
  </div>

  </div>
  <div class="synopsis-title">
    <h1 >Synopsis</h1>
  </div>
  <span class="critique">{{ film['critique'] }}</span>
</div>

</body>
