<header>
  <div class="container">

    <div class="logo">
      ALLOCINE
    </div>

    <ul>
      <li><a href="#">ACCUEIL</a></li>
      <li><a href="#">CATEGORIES</a></li>
      <li><a href="#">CONNEXION</a></li>

    </ul>
  </div>
</header>



