
  <!-- Première ligne -->
  <div class="list-films">
    <a routerLink="/film/{{id}}">
    <div> <img class="img-item" src={{image}}></div>
      <!--<div class="films-titre">{{titre}}</div>-->
    </a>

  </div>
