body {
  background-color:#f0f0f0;
}

.main-content {
  background-color:white;
  width:75%;
  margin:auto;
  border: 1px solid blue;
  display:flex;
  justify-content: space-between;
  padding-top: 2%;
  flex-wrap: wrap;
}

.list-films-title {
  text-align: center;
  margin:auto;
}

.films-content {
  background-color: white;
  margin:auto;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:75%;
}

.list-films {
  text-align: center;
}

.last-films-content {
  background-color: white;
  margin:auto;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:75%;
}

