<!-- Breadcrumb -->
<body>
<!--<div class="main-content">-->
<!--&lt;!&ndash; Set up your HTML &ndash;&gt;-->
<!--<div class="owl-carousel">-->
<!--&lt;!&ndash;<div>test</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div>test</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div>test</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div>test</div>&ndash;&gt;-->
<!--<div *ngFor="let film of films">-->
<!--<div class="list-films">-->
<!--<a routerLink="/film/{{film.id}}">-->
<!--<div> <img class="img-item" src={{film.image}}></div>-->
<!--<div class="films-titre">{{film.titre}}</div>-->
<!--</a>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<owl-carousel #owlElement
              [options]="{items: 5, dots: false, navigation: false}"
              [items]="films"
              [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <div class="item" *ngFor="let film of films;let i = index">
    <div><a routerLink="/film/{{film.id}}"><img class="img-item" src={{film.image}}></a></div>
  </div>
</owl-carousel>
<div class="list-films"><h1>Liste complète des films</h1></div>
<div class="films-content">
  <app-film-item *ngFor="let film of films;"
                 [titre]="film.titre"
                 [image]="film.image"
                 [id]="film.id"
  ></app-film-item>
</div>

<div class="list-films"><h1>Derniers ajouts</h1></div>

<div class="last-films-content">
<app-last-films *ngFor="let film of lastFilms; let i = index"
                [titre]=" film.titre"
                [image]="film.image"
                [id]="film.id"
></app-last-films>
</div>
</body>





